---
import Layout from "./components/Layout.astro";

// const pb = (file: string) => `/public/team-weaver/${file}`;
type SpaceInfo = {
  uid: string;
  title: string;
  participants: number;
};

const spaces: SpaceInfo[] = [
  { uid: "ars123", title: "Lorem ipsum", participants: 1 },
  { uid: "tsrtsr", title: "Rage Club #1", participants: 12 },
  { uid: "tstst", title: "Money Club", participants: 3 },
  { uid: "43stst", title: "Team Weaver Team", participants: 1 },
];
---

<Layout title="Team Weaver">
  <main class="p-4">
    <h1 class="text-3xl">Team Weaver</h1>
    <div class="text-2xl">Your participating spaces</div>
    <div>You haven't joined any space yet</div>
    <div class="text-2xl">All spaces</div>
    <table class="table-auto w-full">
      <thead class="border border-solid border-black bg-gray-300 rounded-t-md">
        <tr class="">
          <th class="border-r border-solid border-black">Space Name</th>
          <th class="border-r border-solid border-black">Participants</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="bg-white border border-solid border-black rounded-b-md">
        {
          spaces.map((space) => (
            <tr class="hover:bg-black/5">
              <td class="border-r border-solid border-black">{space.title}</td>
              <td class="border-r border-solid border-black">
                {space.participants} participants
              </td>
              <td class="w-20 flex-shrink-0">
                <a
                  class="px-2 py-1 block text-center bg-green-500 text-white uppercase rounded-sm hover:bg-green-400"
                  href={`/t/${space.uid}`}
                >
                  Enter
                </a>
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
    <div class="text-right">
      <a
        href="/new"
        class="inline-block rounded-sm bg-green-500 text-white px-2 py-1 uppercase mt-4"
        >Create new space</a
      >
    </div>
  </main>
</Layout>
