---
import { Icon } from "astro-icon";
const { href } = Astro.props;
---

<li class="border-b border-white/75 border-solid last:border-0">
  <a class="block px-2 py-1 hover:bg-black/10" href={href} target="_blank">
    <slot />
    <Icon pack="mdi" name="open-in-new" class="w-6 float-right opacity-50" />
  </a>
</li>
