---
const { href } = Astro.props;

const ext = href.startsWith("http");
---

<a
  href={href}
  class="bg-[#b461b2]/50 inline-block hover:bg-[#b461b2] px-1 border border-solid border-[#b461b2] rounded-sm hover:underline transition-colors"
  target={ext ? "_blank" : ""}
>
  <slot />
</a>
