---
const { href } = Astro.props;

const ext = href.startsWith("http");
---

<a
  href={href}
  class="bg-espurple1/50 inline-block hover:bg-espurple1 px-1 border border-solid border-espurple2 rounded-sm hover:underline transition-colors"
  target={ext ? "_blank" : ""}
>
  <slot />
</a>
