---
import SectionTitle from "../components/SectionTitle.astro";
import CommitmentsItem from "../components/CommitmentsItem.astro";
---

<div class="mb-8 px-4">
  <SectionTitle>Development and support commitments</SectionTitle>
  <div class="opacity-75 text-center">
    <p class="mb-4">If I take a request, I'll add it here.</p>
    <ul
      class="text-left max-w-md mb-4 mx-auto border border-solid border-white/75 rounded-md bg-gradient-to-r from-black/10 to-black/20"
    >
      <CommitmentsItem href="https://ezequielschwartzman.archy.site">
        My own website (this one)
      </CommitmentsItem>
      <CommitmentsItem href="https://archy.site">
        Collaborative web building playground
      </CommitmentsItem>
    </ul>
  </div>
</div>
