---
import SectionTitle from "../components/SectionTitle.astro";
---

<div class="mb-8 px-4">
  <SectionTitle>Crazy thing that I'm committed to make exist</SectionTitle>
  <p class="text-sm opacity-75 text-center mb-4">
    This is the technical thing I'm working on while I'm not working on specific
    technical requests; it's the foundation where I co-create the web with other
    people.
  </p>
  <div
    class="bg-gradient-to-r from-black/10 to-black/20 border border-white/75 border-solid rounded-md p-4 italic saturate-0"
  >
    <p>
      Collaborative web-building, team-weaving playground to co-create
      gameworld-boards/social-networks/web-apps/websites tailored to our teams
      needs. I'm currently accruing more clarity about it and experimenting with
      it's component parts.
    </p>
    <div class="text-right">
      <a href="https://t.me/zequez" target="_blank" class="text-white underline"
        >Learn more...
      </a>
    </div>
  </div>
</div>
