---
import SectionTitle from "../components/SectionTitle.astro";
import SuperButton from "../components/SuperButton.astro";
---

<div class="mb-8 px-4">
  <SectionTitle>Newsletter</SectionTitle>
  <p class="opacity-75 text-center mb-8">
    Receive all my research discoveries, creative work updates and invitations
    to events
  </p>
  <div class="flex flex-col justify-center items-center">
    <input
      placeholder="Name"
      class="mb-4 text-black/60 rounded-md p-2 shadow-md block w-72 focus:outline outline-2 outline-espurple1"
    />
    <input
      placeholder="Email"
      class="mb-4 text-black/60 rounded-md p-2 shadow-md block w-72 focus:outline outline-2 outline-espurple1"
    />
    <SuperButton
      href="https://docs.google.com/forms/d/e/1FAIpQLSeGyf8DYuMRH3B8QRx_9AKi5-4kxXor5VcND7TlYFe9r6u0gA/viewform?usp=sf_link"
      >Sign Up</SuperButton
    >
  </div>
</div>
