---
import SectionTitle from "../components/SectionTitle.astro";
import StepCheck from "../components/StepCheck.astro";
---

<div class="mb-8 px-4">
  <SectionTitle>Next Steps</SectionTitle>
  <div class="opacity-75 mb-8 text-links">
    <StepCheck done={true}>Publish new website and share it</StepCheck>
    <StepCheck
      ><a href="https://becomemoney.mystrikingly.com/">Become money</a>, receive
      US$ 1000+ moonly by doing something I truly enjoy</StepCheck
    >
    <StepCheck
      >Invest in <a href="https://possibilitycoaching.mystrikingly.com/"
        >coaching</a
      >
    </StepCheck>
    <StepCheck
      >Join a <a href="https://possibilityteam.mystrikingly.com/"
        >possibility team</a
      >
    </StepCheck>
    <StepCheck
      ><a href="https://patriarchy.mystrikingly.com/">Escape patriarchy</a>
    </StepCheck>
    <StepCheck
      >Practice <a href="https://villaging.mystrikingly.com//">ecovillaging</a>
    </StepCheck>
    <StepCheck
      >Go through an <a href="https://expandthebox.mystrikingly.com/"
        >Expand The Box</a
      >
    </StepCheck>
    <StepCheck>Make websites and apps that are useful to other people</StepCheck
    >
    <StepCheck
      >Go through <a href="https://3-3-3.mystrikingly.com">3-3-3 initiation</a> for
      all 4 feelings</StepCheck
    >
    <StepCheck>Pay off all debts (US$ 3100 in total)</StepCheck>
    <StepCheck
      ><a href="https://maketime.mystrikingly.com">Become a time maker</a>,
      commit to a schedule with work, self-care and parenting</StepCheck
    >
  </div>
</div>
