---
import SectionTitle from "../components/SectionTitle.astro";
---

<div class="mb-8 px-4">
  <SectionTitle>What I have to offer</SectionTitle>
  <ul class="list-star opacity-75">
    <li>Websites creation & hosting.</li>
    <li>Web components that can be used anywhere.</li>
    <li>
      Connect & transform information on the web from anywhere to anywhere.
    </li>
    <li>Automate digital stuff.</li>
    <li>Web apps that can be installed as phone apps.</li>
    <li>Showing you how to do any of the mentioned things.</li>
    <li>Consulting on any web thing.</li>
  </ul>
</div>
