---
import SectionTitle from "../components/SectionTitle.astro";
import CivCredit from "../components/CivCredit.astro";
---

<div class="mb-8 px-4">
  <SectionTitle
    >Commit to my commitments with <i>civilization credits</i> on Patreon</SectionTitle
  >
  <div class="flex flex-wrap items-center justify-center">
    <CivCredit credit={3} />
    <CivCredit credit={13} />
    <CivCredit credit={20} />
    <CivCredit credit={54} />
    <CivCredit credit={108} />
    <CivCredit credit={256} />
    <CivCredit credit={512} />
  </div>
</div>
