---
import SectionTitle from "../components/SectionTitle.astro";
---

<div class="mb-8 px-4">
  <SectionTitle>What I'm eager to receive</SectionTitle>
  <ul class="list-star opacity-75 text-links">
    <li>Cash flowing through me to people that provide value to me.</li>
    <li>
      <a href="https://gaias.mystrikingly.com/">Non-material value</a> such as <a
        href="https://possibility.mystrikingly.com/">possibilities</a
      >, <a href="https://swordofclarity.mystrikingly.com/">clarity</a>, <a
        href="https://process.mystrikingly.com/"
        title="Emotional Healing Process">EHP</a
      >,
      <a href="https://possibilitycoaching.mystrikingly.com/">coaching</a>, <a
        href="https://ordinaryextraordinary.mystrikingly.com/">extraordinary</a
      > spaces, etc.
    </li>
  </ul>
</div>
