---
import SectionTitle from "../components/SectionTitle.astro";
import SuperButton from "../components/SuperButton.astro";
import WorkItem from "../components/WorkItem.astro";
---

<div class="mb-8 px-4">
  <SectionTitle>Work philosophy</SectionTitle>
  <div class="opacity-75 mb-4 grid grid-cols-2 gap-2">
    <WorkItem image="idea"
      >I receive/send messages with proposals/requests from/to team members.</WorkItem
    >
    <WorkItem image="zoom"
      >I schedule calls with team member/s to get to know each other and flesh
      out what's being called into creation.
    </WorkItem>
    <WorkItem image="chat"
      >I keep in touch and fulfill requests as I see fit.</WorkItem
    >
    <WorkItem image="present"
      >You are invited to give back whatever you want in the spirit of the gift.</WorkItem
    >
    <WorkItem image="schedule"
      >Work is prioritized based on my enthusiasm, energy levels and time
      availability.</WorkItem
    >
  </div>
  <div class="flex justify-center">
    <SuperButton href="https://t.me/zequez">Make Proposal</SuperButton>
  </div>
</div>
