---
import "@/base.css";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="bg-gray-100 font-sans">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title></title>
    <meta name="description" content={title} />
  </head>
  <body class=""><slot /></body>
</html>
