.list-star li::before {
  content: "★";
  color: rgb(255, 240, 29);
  font-size: 0.8em;
  margin-right: 0.5rem;
  position: relative;
  top: -1px;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
}

.patterned {
  background-image: url(/public/ezequielschwartzman/pattern.webp);
}

.text-links a {
  text-decoration: underline;
  color: #fff93a;
}