@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply text-green-600 underline hover:text-green-500;
  }
}

.scrollbar-hidden {
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.pattern-polka {
  /* background-color: #e5e5f7; */
  opacity: 0.5;
  background-image: radial-gradient(#000000 0.5px, rgba(0,0,0,0) 0.5px);
  background-size: 10px 10px;
}

@keyframes wait {
  0% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}